.home-page{
    .start-action{
        height: 200px;
        background-color:$primary-clr2;
        .start-container{
            height: 48px;
            width: 917px;
            margin: 0 auto;
            padding-top: 76px;
            h1{font-size: 48px;color: $secondary-clr4;}
            .contact-btn{
                width: 153px;
                height: 48px;
                border-radius: 25px;
                font-size: 18px;
                color: $secondary-clr4;
                border :2px solid $secondary-clr4;
                background-color: $primary-clr2;
            }
        }
    }
}