// Colors
$primary-clr1: #014E56;
$primary-clr2: #F67E7E;
$primary-clr3: #FFF;
$secondary-clr1: #79C8C7;
$secondary-clr2: #2C6269;
$secondary-clr3: #004047;
$secondary-clr4: #012F34;
$secondary-clr5: #002529;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1160px;